#content #products #main-content-wp .main-content  #detail-blog-wp .section-detail .detail p {text-align: justify;}
#content #products #main-content-wp .main-content {box-shadow: 5px 0 10px 1px;}
#content #products #main-content-wp .main-content  #detail-blog-wp {padding: 20px;}


