<nav>
    <ul class="pagination pagination-sm justify-content-center">
        <li class="page-item disabled">
            <a href="" class="page-link disabled">&laquo;</a>
        </li>
        <li class="page-item active">
            <a href="" class="page-link">1</a>
        </li>
        <li class="page-item">
            <a href="" class="page-link">2</a>
        </li>
        <li class="page-item">
            <a href="" class="page-link">3</a>
        </li>
        <li class="page-item">
            <a href="" class="page-link">&raquo;</a>
        </li>
    </ul>
</nav>