<%- get_layout("header") %>
    <div id="content" class="mt-2 mb-2">
        <div class="container mt-5">
            <div class="row">
                <div class="col-md-12">
                    <div id="main-content-wp" class="cart-page">
                        <div class="section" id="info-cart-wp">
                            <div class="section-detail table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Mã sản phẩm</th>
                                            <th>Ảnh sản phẩm</th>
                                            <th>Tên sản phẩm</th>
                                            <th>Giá sản phẩm</th>
                                            <th>Số lượng</th>
                                            <th colspan="2">Thành tiền</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>HCA00031</td>
                                            <td>
                                                <a href="/san-pham/1" title="" class="thumb">
                                                    <img src="images/product-1.jpg" alt="">
                                                </a>
                                            </td>
                                            <td>
                                                <a href="/san-pham/1" title="" class="name-product">Sony Express
                                                    X6</a>
                                            </td>
                                            <td>500.000đ</td>
                                            <td>
                                                <input type="number" min="1" max="100" name="num-order" value="1"
                                                    class="num-order">
                                            </td>
                                            <td>500.000đ</td>
                                            <td>
                                                <a href="" title="" class="del-product"><i
                                                        class="fa fa-trash-o"></i></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>HCA00031</td>
                                            <td>
                                                <a href="/san-pham/2" title="" class="thumb">
                                                    <img src="images/product-1.jpg" alt="">
                                                </a>
                                            </td>
                                            <td>
                                                <a href="/san-pham/2" title="" class="name-product">Sony Express
                                                    X6</a>
                                            </td>
                                            <td>500.000đ</td>
                                            <td>
                                                <input type="number" min="1" max="100" name="num-order" value="1"
                                                    class="num-order">
                                            </td>
                                            <td>500.000đ</td>
                                            <td>
                                                <a href="" title="" class="del-product"><i
                                                        class="fa fa-trash-o"></i></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td colspan="7">
                                                <div class="clearfix">
                                                    <p id="total-price" class="fl-right">Tổng giá:
                                                        <span>850.000đ</span>
                                                    </p>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="7">
                                                <div class="clearfix">
                                                    <div class="float-right">
                                                        <a href="/cart/update" class="btn btn-outline-primary" id="update-cart">Cập nhật giỏ hàng</a>
                                                        <a href="/thanh-toan" class="btn btn-outline-primary" id="checkout-cart">Thanh toán</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                        <div class="section" id="action-cart-wp">
                            <div class="section-detail">
                                <p class="title">Click vào <span>“Cập nhật giỏ hàng”</span> để cập nhật số
                                    lượng. Nhập vào
                                    số lượng <span>0</span> để xóa sản phẩm khỏi giỏ hàng. Nhấn vào thanh toán
                                    để hoàn tất
                                    mua hàng.</p>
                                <a href="?page=home" title="" id="buy-more">Mua tiếp</a><br />
                                <a href="" title="" id="delete-cart">Xóa giỏ hàng</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <%- get_layout("footer") %>