<%- get_layout("header") %>
    <div id="content" class="mt-2 mb-2">
        <div id="products" class="mt-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <%- get_layout("feature_product", { featured_products }) %>

                    </div>
                    <div class="col-md-9">
                        <div id="product-detail">
                            <div id="main-content-wp" class="clearfix detail-product-page">
                                <div class="wp-inner">
                                    <div class="main-content fl-right">
                                        <div class="section" id="detail-product-wp">
                                            <div class="media">
                                                <img class="thumb border mr-3 mb-3" src="images/product-1.jpg"
                                                    alt="">
                                                <div class="media-body">
                                                    <h3 class="product-name">Tiêu đề 1</h3>
                                                    <div class="price m-2">
                                                        <span class="new">3.900.000₫</span>
                                                        <span class="old">4.900.000₫</span>
                                                    </div>
                                                    <div class="short-des">
                                                        <p>Máy tính xách tay HP Probook 440 G2 là dòng máy tính xách
                                                            tay
                                                            thích hợp cho doanh nghiệp và những
                                                            người làm văn phòng. Do đó, ngoài cấu hình tốt, thiết kế
                                                            bền
                                                            bỉ,
                                                            máy tính xách tay HP Probook
                                                            440 G2 còn có khả năng bảo mật toàn diện giúp bạn luôn
                                                            yên
                                                            tâm
                                                            về dữ liệu của mình.</p>
                                                    </div>
                                                    <div class="num-order-wp">
                                                        <input type="number" style="width: 50px; height: 30px;"
                                                            name="num-order" value="1" id="num-order">
                                                        <button class="btn btn-primary">Thêm vào giỏ hàng</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="section" id="post-product-wp">
                                            <div class="section-head">
                                                <h3 class="section-title">Mô tả sản phẩm</h3>
                                            </div>
                                            <div class="section-detail  border p-2">
                                                <p>Máy tính xách tay HP Probook 440 G2 là dòng máy tính xách tay
                                                    thích hợp cho doanh nghiệp và những
                                                    người làm văn phòng. Do đó, ngoài cấu hình tốt, thiết kế bền
                                                    bỉ,
                                                    máy tính xách tay HP Probook
                                                    440 G2 còn có khả năng bảo mật toàn diện giúp bạn luôn yên
                                                    tâm
                                                    về dữ liệu của mình.</p>
                                                <p>Máy tính xách tay HP Probook 440 G2 là dòng máy tính xách tay
                                                    thích hợp cho doanh nghiệp và những
                                                    người làm văn phòng. Do đó, ngoài cấu hình tốt, thiết kế bền
                                                    bỉ,
                                                    máy tính xách tay HP Probook
                                                    440 G2 còn có khả năng bảo mật toàn diện giúp bạn luôn yên
                                                    tâm
                                                    về dữ liệu của mình.</p>
                                                <p>Máy tính xách tay HP Probook 440 G2 là dòng máy tính xách tay
                                                    thích hợp cho doanh nghiệp và những
                                                    người làm văn phòng. Do đó, ngoài cấu hình tốt, thiết kế bền
                                                    bỉ,
                                                    máy tính xách tay HP Probook
                                                    440 G2 còn có khả năng bảo mật toàn diện giúp bạn luôn yên
                                                    tâm
                                                    về dữ liệu của mình.</p>
                                                <p>Máy tính xách tay HP Probook 440 G2 là dòng máy tính xách tay
                                                    thích hợp cho doanh nghiệp và những
                                                    người làm văn phòng. Do đó, ngoài cấu hình tốt, thiết kế bền
                                                    bỉ,
                                                    máy tính xách tay HP Probook
                                                    440 G2 còn có khả năng bảo mật toàn diện giúp bạn luôn yên
                                                    tâm
                                                    về dữ liệu của mình.</p>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 mt-3">
                        <%- get_layout("product_category_together") %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- get_layout("footer") %>