<div id="head-top" class="clearfix">
    <div class="container">
        <a href="#"><img class="icon" src="../public/image/email.png" alt="example@gmail.com">
            <span>example@gmail.com</span>
        </a>
        <a href="#"><img class="icon" src="../public/image/phone.png" alt="0903112713">
            <span>0903112713</span>
        </a>
    </div>

    <div id="head-body" class="clearfix">
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <div id="logo">
                        <a href="../index.html"><img src="../public/image/logo.png" alt="">
                            <span>Ghế đá</span>
                        </a>
                    </div>
                </div>
                <div class="col-md-7 mt-4">
                    <div id="search-wp">
                        <form class="form-inline">
                            <input type="text" class="form-control" id="search" placeholder="Nhập đồ cần tìm">
                                <button type="submit" class="btn btn-primary ">
                                    <img class="icon" src="../public/image/search.png" alt="">
                                </button>
                        </form>
                    </div>
                </div>
                <div class="col-md-3 mt-4">
                    <div class="row">
                        <div class="col-md-12">
                            <a href="#"><img class="icon" src="../public/image/cart.png" alt="">
                                <span>Giỏ hàng | </span>
                            </a>
                            <a href="">
                            <a href="login.html"><img class="icon" src="../public/image/user.png" alt="">
                                <span>Đăng nhập </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="head-footer" class="sticky-top">
    <div id="main-menu" class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Trang chủ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Giới thiệu</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="../pages/category_product.html" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Sản phẩm
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Ghế đá công viên</a>
                            <a class="dropdown-item" href="#">Ghế đá ngoài trời</a>
                            <a class="dropdown-item" href="#">Ghế đá hoa cương</a>
                            <a class="dropdown-item" href="#">Ghế đá tự nhiên</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="blog.html">Bài viết</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Tin tức</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Liên hệ</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>