<div id="footer" class="mt-5">
  <div class="section-detail pt-4">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h5>Liên hệ</h5>
          <ul class="list-group">
            <li class="list-group-item">list-group 1</li>
            <li class="list-group-item">list-group 2</li>
            <li class="list-group-item">list-group 3</li>
            <li class="list-group-item">list-group 4</li>
          </ul>
        </div>
        <div class="col-md-4">
          <h5>ĐIỀU KHOẢN VÀ CHÍNH SÁCH</h5>
          <ul class="list-group">
            <li class="list-group-item"><a href="/trang/mua-hang/1">Mua Hàng</a></li>
            <li class="list-group-item"><a href="/trang/phuong-thuc-thanh-toan/1">Phương thức thanh toáng</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h5>Facebook</h5>
          <ul class="list-group">
            <li class="list-group-item">list-group 1</li>
            <li class="list-group-item">list-group 2</li>
            <li class="list-group-item">list-group 3</li>
            <li class="list-group-item">list-group 4</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>